@using Utilities_UI.Models
@model IEnumerable<AssignmentViewModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
   <a class="btn btn-primary" href="@Url.Action("Create")">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToDo.Description)
        </th>
        <th>
            Time left
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDo.Due)
        </th>
        <th>@Html.DisplayNameFor(m => m.ToDo.Created)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDo.Description)
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-@(item.Percentage > 75?"danger":"info")" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: @item.Percentage%"></div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDo.Due)
            </td>
            <td>
                @Html.DisplayFor(m => item.ToDo.Created)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ToDo.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.ToDo.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ToDo.Id })
            </td>
        </tr>
    }

</table>